.task {
  background: #f1f5f9;
  margin: 8px;
  padding: 16px 24px;
  cursor: pointer;
}

.task.reminder {
  border-left: 4px solid #10b981;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
